.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.entry {
  border: 3px solid #355a20;
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
  padding: .6rem;
}

.logo {
  color: #059033;
  font-size: 1.8rem;
}
#logo-s {
  color: #7baa47;
}
.input-form {
  display:flex;
  flex-direction: column;

}
.input-form input{
  display:flex;
  justify-content:space-between;
  margin-top: .6rem;

}
.input-form label{
  margin-top: 1rem;
}
.errors {
  color:red;
}
.submit-form button {
  margin-top: 1rem;
}