.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.entry {
  border: 3px solid #355a20;
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}
.strain-list {
  border: 3px solid #355a20;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
}
.dashboard {
  border: 3px solid #355a20;
  border-radius: 8px;
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
}
.recform {
  border: 3px solid #355a20;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
}
.logo {
  color: #059033;
  font-size: 1.8rem;
  padding: 1rem 2rem;
}
#logo-s {
  color: #7baa47;
}

.input-form input{
  display:flex;
  justify-content:space-between;
  margin-top: .6rem;
  margin-bottom: .6rem;
  font-size: 1rem;


}
.input-form label{
  margin-top: 1rem;
  font-size: 1rem;
}
.errors {
  color:red;
}
button {
  margin-top: 1rem;
  color:  #059033;
}
.medical, .effects {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.medical h2, .effects  h2 {
  border-bottom:  3px solid #355a20;
  padding-bottom: 1rem;
}
.medical label, .effects label{
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  font-size: 1rem;
  color: #059033;
  flex-direction: row-reverse;
  padding-left: 1rem;
}
.effects input, .medical input{
  margin-right:1rem;
}
.nav nav {
  display:flex;
  justify-content: space-around;
  padding: 1.5rem;
  font-size: 1rem;
  background-color: #7baa47;
  /* border-radius: 8px; */
  margin-bottom: 10vh;

}
.nav nav a{
  text-decoration: none;
  color: black;

}
.strain h3 {
  border-top: 3px solid #355a20;
  padding-top: 1rem;
}